node_modules/
.env
.env.local
npm-debug.log
dist/

data/energy_history.json
data/rooms.json
data/scene_mappings.json
data/scenes.json

selfsigned.crt
selfsigned.key
hub_config.json
nas-config.json
samsung-tokens.json