h1 {
    color: #333;
    font-family: Arial, sans-serif;
}

header {
    background-color: #f8f8f8;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    border-radius: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    margin-right: 20px;
}

li a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}

li a:hover {
    text-decoration: none;
    color: #0056b3;
    font-weight: bold;
}

form {
    max-width: 300px;
    margin: 50px auto;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
}